In [2]:
# import libraries
import os

import pandas as pd
import numpy as np
import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
# read data
# website: https://www.lyft.com/bikes/bay-wheels/system-data

# Walk through all directories and subdirectories
dfs = []
for root, dirs, files in os.walk('data/2022/'):
    for file in files:
        # Check if the file is a CSV file
        if file.endswith('.csv'):
            # Read the file into a data frame and append it to the list of data frames
            df = pd.read_csv(os.path.join(root, file))
            dfs.append(df)

# concat all data frames into a single data frame
df0 = pd.concat(dfs, ignore_index=True)

In [4]:
# get preview
df0.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0DD008BC62836D27,classic_bike,2022-01-13 19:12:23,2022-01-13 19:22:13,Washington St at Van Ness Ave,SF-E22,Natoma St at New Montgomery St,SF-G28-2,37.792980,-122.423302,37.786456,-122.399749,member
1,BE9F5C77F1BE0FBF,classic_bike,2022-01-15 15:58:55,2022-01-15 16:10:03,Washington St at Van Ness Ave,SF-E22,Natoma St at New Montgomery St,SF-G28-2,37.792980,-122.423302,37.786456,-122.399749,member
2,F0826402062D5A44,classic_bike,2022-01-07 20:34:47,2022-01-07 20:55:25,17th St at Dolores St,SF-N21,Scott St at Golden Gate Ave,SF-I19,37.763015,-122.426497,37.778999,-122.436861,member
3,EE9A8BB189061CFD,classic_bike,2022-01-31 16:38:25,2022-01-31 17:13:05,El Embarcadero at Grand Ave,OK-I9,Ninth St at Heinz Ave,BK-H3,37.808715,-122.249251,37.853907,-122.289698,member
4,772A8B545A8525C0,classic_bike,2022-01-28 17:28:22,2022-01-28 17:39:55,17th St at Dolores St,SF-N21,Octavia Blvd at Page St,SF-J22-1,37.763015,-122.426497,37.774018,-122.423809,casual

In [6]:
# get info
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2614800 entries, 0 to 2614799
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 259.3+ MB

In [7]:
# get stats
df0.describe().T

,count,mean,std,min,25%,50%,75%,max
start_lat,2614800.0,37.768734,0.075707,37.230000,37.767052,37.777310,37.790000,37.880222
start_lng,2614800.0,-122.395012,0.094679,-122.511347,-122.427555,-122.411738,-122.397086,-121.780000
end_lat,2612230.0,37.768874,0.082523,0.000000,37.767045,37.777547,37.790000,38.000000
end_lng,2612230.0,-122.394626,0.142783,-122.520000,-122.426659,-122.411306,-122.396973,0.000000

In [ ]:
# describe is not a useful metric here

In [8]:
# get missing data
df0.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    384498
start_station_id      387199
end_station_name      439866
end_station_id        442601
start_lat                  0
start_lng                  0
end_lat                 2570
end_lng                 2570
member_casual              0
dtype: int64

In [9]:
df0.duplicated().sum()

0